*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: black;
    width: 90%;
    max-width: 800px;

    border: 2px solid #fff;
    border-radius: 6px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.question{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    
}
.answers-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.next-question{
    margin-top: 32px;
    
    
}
.button{
    background-color: purple;
    color: yellow;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    padding: 0 32px;
    cursor: pointer;
}
.answer:disabled{
    cursor: not-allowed;
}

.hide{
    display: none;
}

.correct{
    background-color: rgb(88, 243, 113);
}
.incorrect{
    background-color: red;
}

p{
    font-size: 15px;
    text-align: center;
}
p span{
    display: block;
    margin-top: 10px;
}
p ,i{
    margin-top: 20px;
}


@media(min-width:320px) and (max-width:420px){
    body{
        overflow-x: hidden;
    }
    .container{
        width: 300px;
    }
    .question {
        font-size: 0.9em;
    }
    .button{
        font-size: 1em;
        color:white;
        padding: 0 9px;
    }
    p{
        font-size: 0.8em;
    }
    p span{
        font-size: 0.9em;
        margin-top: 10px;
    }
}
